---
import Layout from '../layouts/Layout.astro';
import BookingWizard from '../components/booking/BookingWizard';
---

<Layout>
  <section class="relative min-h-screen flex flex-col items-center justify-center px-4 py-8 sm:py-12 text-white overflow-hidden">
    <!-- Glows decorativos -->
    <div class="absolute -top-32 -left-32 w-[600px] h-[600px] bg-brand-yellow/[0.05] rounded-full blur-[120px] pointer-events-none"></div>
    <div class="absolute -bottom-40 -right-20 w-[500px] h-[500px] bg-brand-yellow/[0.04] rounded-full blur-[100px] pointer-events-none"></div>
    <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-[700px] h-[700px] bg-brand-yellow/[0.02] rounded-full blur-[150px] pointer-events-none"></div>

    <div class="relative z-10 w-full">
      <h1 class="font-bebas text-4xl sm:text-5xl text-center mb-8">Reservar turno</h1>
      <BookingWizard client:load />
    </div>
  </section>
</Layout>