<!doctype html>
<html lang="es">
	<head>

		<meta charset="UTF-8" />

		<meta name="viewport" content="width=device-width" />

		<title>OnBarber - Barbería en Encarnación, Paraguay</title>

		<link rel="icon" href="/favicon.ico" />

		<meta name="description" content="OnBarber es una barbería ubicada en Encarnación, Paraguay, 
		que ofrece servicios de corte de cabello, barba, para hombres. 
		Cuenta con barberos profesionales que se dedican a brindar un servicio de alta calidad en un ambiente acogedor y moderno." />

		<meta property="og:title" content="OnBarber - Barbería en Encarnación, Paraguay" />
		<meta property="og:description" content="OnBarber es una barbería ubicada en Encarnación, Paraguay, 
		que ofrece servicios de corte de cabello, barba, para hombres. 
		Cuenta con barberos profesionales que se dedican a brindar un servicio de alta calidad en un ambiente acogedor y moderno." />
		<meta property="og:image" content="/preview.png" />
		<meta property="og:locale" content="es_PY" />
		<!-- TODO: Add Open Graph image -->

		<!-- Twitter Card -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="@onbarber" />
		<meta name="twitter:creator" content="OnBarber" />
		<meta name="twitter:title" content="OnBarber - Barbería en Encarnación, Paraguay" />
	</head>

	<body>

		<slot />
	
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
